<h1 class="chatTitle">REAL TIME CHAT APP</h1>
<div class="chatBody">
  <div class="divMsgs" id="div-msgs">
    {{!-- Aca se inyectan los mensajes --}}
  </div>
<div class="inputMsgArea">
  <input class="inputMsg" id="input-msg" type="text" placeholder="Mensaje..." />
</div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>