<div class="notFoundBody">
    <img class="notFoundBckgrnd" src="https://virtualbackgrounds.site/wp-content/uploads/2020/07/this-is-fine.jpeg" alt="">
    <h1 class="firstTitle">You are fine... ok, maybe not...</h1>
    <div class="notFoundContainer">
        <img class="notFoundImg" src="https://mystickermania.com/cdn/stickers/memes/sticker_2094.png" alt="404">
        <h2>{{msg}}</h2>
    </div>
</div>