<body class="loginBody">
    <form class="log-container" action="/api/sessions/login" method="post">
        <h1 class="firstTitle">iCommerce</h1>
        <label class="labelClass" for="email">Email:</label>
        <input class="inputClass" name="email" type="text" id="email" placeholder="" required>
        <label class="labelClass" for="password">Password:</label>
        <input class="inputClass" name="password" type="password" id="password" placeholder="" required>
        <button class="submitBtn">LOG IN</button>
        <a href="/api/sessions/github" class="loginGithubContainer">
            <img class="githubIcon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png" alt="github img">
            <p>Login with GitHub</p>
        </a>
        <div class="registerContainer">
            <p>Do not have an account?</p><a class="registerBtn" href="/signup">SIGN UP</a>
        </div>
    </form>
</body>